<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"    href="/static/styles.css">
</head>
<body>

        <div class="form">
            <form>
                
                <div class="innerdiv">
                    <h2>log in</h2>
                    <p class="para">New to this application?</p><br><br>
                    <a href="register.html" class="register">Register</a><br><br>
                    <input type="text" class="email" placeholder="Email address (or) Phone number">
                    <br><br>
                    <input type="password" class="password" placeholder="Password(8+ Characters)">
                    <br><br>
                    <button>Forgot Password?</button>
                    <br><br>
                    <button class="log">LOG IN</button>
                </div>
            </form>
        </div>
    
</body>
</html>